<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			<table>
				<tr><th>ID</th><th>Name</th><th>Age</th></tr>
				<tr ng-repeat="person in vm.people">
					<td>{{person.id}}</td><td>{{person.name}}</td><td>{{person.age}}</td>
				</tr>
			</table>
			<div ng-show="vm.loading">Cargando....</div>

			<div>First person is: {{vm.firstPerson.name}}</div>
		</div>


		<script src="angular.min.js"></script>
		<script src="angular-resource.min.js"></script>
		<script src="app.js"></script>
		<script src="main.service.js"></script>
		<script src="main.controller.js"></script>
	</body>
</html>