<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			{{vm.message}}<br>
			<input ng-model="vm.message"><br>
			<button ng-click="vm.reset();">Reset</button>
			<button ng-click="vm.sayHello();">Hello</button>
		</div>
		
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/services/main.service.js"></script>
		<script src="app/controllers/main.controller.js"></script>
	</body>
</html>