<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			<select ng-options="person.name for person in vm.people" ng-model="vm.selected"></select>
			<!-- <select ng-options="person.name for person in vm.people track by person.id" ng-model="vm.selected"></select> -->
			{{vm.selected.id}} - {{vm.selected.name}}
		</div>
		<script src="angular.min.js"></script>
		<script src="main.controller.js"></script>
	</body>
</html>