<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			<span>{{vm.message}}</span><br>
			<input ng-model="vm.message"><br>
			<span>Mostrar: </span><input type="checkbox" ng-model="vm.show"><br>
			<span>Deshabilitar: </span><input type="checkbox" ng-model="vm.disabled"><br>
			<button ng-click="vm.reset();" ng-disabled="vm.disabled" ng-show="vm.show">Reset</button>
		</div>
		
		<script src="angular.min.js"></script>
		<script src="main.controller.js"></script>
	</body>
</html>