<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			{{vm.message}}
		</div>
		
		<script src="angular.min.js"></script>
		<script>
			angular.module('testApp', []).controller('mainCtrl', [function(){
				this.message = 'Hello world';
			}]);
		</script>
	</body>
</html>