<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl">
			{{message}}
		</div>
		
		<script src="angular.min.js"></script>
		<script>
			angular.module('testApp', []).controller('mainCtrl', ['$scope', function($scope){
				$scope.message = 'Hello world';
			}]);
		</script>
	</body>
</html>