<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			{{vm.message}}<br>
			<input ng-model="vm.message"><br>
			<button ng-click="vm.reset();">Reset</button>
		</div>
		
		<script src="angular.min.js"></script>
		<script src="main.controller.js"></script>
	</body>
</html>