<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			<div ng-repeat="person in vm.people">
				{{person}}
			</div>
		</div>
		<script src="angular.min.js"></script>
		<script src="main.controller.js"></script>
	</body>
</html>