<html>
	<head>
		<!-- bower:css -->
		<!-- endbower -->
	</head>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			{{vm.message}}<br>
			<input ng-model="vm.message"><br>
			<button ng-click="vm.reset();">Reset</button>
			<button ng-click="vm.sayHello();">Hello</button>
		</div>
		
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<!-- endbower -->
		<!-- include: "type": "js", "files": ["app/**/*.js"] -->
		<script src="app/app.js"></script>
		<script src="app/controllers/main.controller.js"></script>
		<script src="app/services/main.service.js"></script>
		<!-- /include -->
	</body>
</html>