<html>
	<body ng-app="testApp">
		<div ng-controller="mainCtrl as vm">
			<h3>Listado</h3>
			<table>
				<tr>
					<td>Name</td>
					<td>Age</td>
					<td></td>
				</tr>
				<tr ng-repeat="person in vm.people">
					<td>{{person.name}}</td>
					<td>{{person.age}}</td>
					<td><button ng-click="vm.detail(person.id)">Detalle</button></td>
				</tr>
			</table>
			<button ng-click="vm.search()">Search</button><br>
			<div ng-show="vm.person || vm.error">
				<h3>Detalle</h3>
				<div class="error" ng-show="vm.error">{{vm.error}}<br></div>
				<div ng-hide="vm.error">
					ID: <span class="id">{{vm.person.id}}</span><br>
					Name: <span class="name">{{vm.person.name}}</span><br>
					Age: <span class="age">{{vm.person.age}}</span><br>
				</div>
			</div>
		</div>
		
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/services/people.service.js"></script>
		<script src="app/controllers/main.controller.js"></script>
	</body>
</html>